{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/dashboard

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}

<div class="store-action-icons">
    <i class = "fa fa-ellipsis-h store-dropdown-link" data-id = "{{id}}"></i>
    <div class = "store-action-button-dropdown" style = "display:none;" data-id = "{{id}}">
        {{> local_ecommerce/action-button}}
    </div>
</div>
