<div class = "payment-form-part-two">
    <div class="payment-form authorize-form">
        <p><img src="{{logo}}" /></p>
        <p><img src="{{cards_img}}" class = "cards-img" /></p>
        <div class = "text-left">
            <p>{{{payment_rubric}}}</p>
            <p>{{#str}}click_process_payment, local_ecommerce{{/str}}</p>
        </div>
    </div>
</div>
    <div class = "payment-form-part-three">

        <div class="shopping-checkout-box">
            {{> local_ecommerce/payment-summary }}

        <form action="{{checkouturl}}" method="post">

            <input type="hidden" name="x_login" value="{{config.loginid}}" />
            <input type="hidden" name="x_amount" value="{{cost}}" />
            {{#config.checkproductionmode}}
                <input type="hidden" name="x_currency_code" value="{{currency_code}}" />
            {{/config.checkproductionmode}}

            <input type="hidden" name="x_cust_id" value="{{checkout_id}}-{{user_id}}-{{instance.id}}">
            <input type="hidden" name="x_description" value="{{item_name}}" />
            <input type="hidden" name="x_invoice_num" value="{{invoice}}" />
            <input type="hidden" name="x_fp_sequence" value="{{sequence}}" />
            <input type="hidden" name="x_fp_timestamp" value="{{timestamp}}" />
            <input type="hidden" name="x_fp_hash" value="{{fingerprint}}" />
            <input type="hidden" name="x_test_request" value="{{testmode}}" />
            <input type="hidden" name="x_email_customer" value="true" >

            <input type="hidden" name="x_relay_response" value="TRUE" >
            <input type="hidden" name="x_relay_url" value="{{ipnurl}}" >

            <input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
            <div class = "text-right">
                <input type="submit" class="btn btn-primary" id="sub_button" value="{{#str}}processpayment, local_ecommerce{{/str}}" />
            </div>
        </form>
    </div>
</div>