<div class="ecommerce-filter-form ecommerce-table-filter-form inner-filter clearfix">

    <form class="form-inline mform clearfix" id="filter_form">
        <h3 class = "ecommerce-store-page-header title-only">{{title}}</h3>
    </form>

</div>
