{{{contact_header}}}

<div class="ecommerce-form ecommerce-contact-form clearfix">
    <form action="{{pageurl}}" class="clearfix" id = "ecommerce-contact-form">
        <div class = "ecommerce-form-required-rubric">{{#str}}required_rubric, local_ecommerce{{/str}}&nbsp;<div class="ecommerce-form-required">*</div></div>
        <div class = "row">
            <div class = "small-50">
                <div class = "tablet-50">
                    <label for = "contact-name" class = "ecommerce-form-label">{{#str}}name{{/str}}&nbsp;<div class="ecommerce-form-required">*</div></label>
                    <input type = "text" name = "name" id = "contact-name" class = "contact-form-field" value = "{{nameValue}}" />
                </div>
                <div class = "tablet-50">
                    <label for = "contact-email" class = "ecommerce-form-label">{{#str}}email, local_ecommerce{{/str}}&nbsp;<div class="ecommerce-form-required">*</div></label>
                    <input type = "email" name = "email" id = "contact-email" class = "contact-form-field" value = "{{emailValue}}" />
                </div>
                <div class = "tablet-50">
                    <label for = "contact-phone" class = "ecommerce-form-label">{{#str}}phone, local_ecommerce{{/str}}&nbsp;<div class="ecommerce-form-required">*</div></label>
                    <input type = "text" name = "phone" id = "contact-phone" class = "contact-form-field" value = "{{phoneValue}}" />
                </div>
                <label for = "contact-subject" class = "ecommerce-form-label">{{#str}}subject, local_ecommerce{{/str}}&nbsp;<div class="ecommerce-form-required">*</div></label>
                <input type = "text" name = "subject" id = "contact-subject" class = "contact-form-field" value = "{{subjectValue}}" />
                <div class = "device-hide">
                    <button class = "btn btn-primary ecommerce-form-submit" id = "submit-contact-form">{{#str}}submit{{/str}}</button>
                </div>
            </div>
            <div class = "small-50">
                <label for = "contact-message" class = "ecommerce-form-label">{{#str}}message, local_ecommerce{{/str}}&nbsp;<div class="ecommerce-form-required">*</div></label>
                <textarea name = "message" id = "contact-message">{{messageValue}}</textarea>
                <div class = "device-show">
                    <button class = "btn btn-primary ecommerce-form-submit" id = "submit-contact-form">{{#str}}submit{{/str}}</button>
                </div>
            </div>
        </div>
        <div class = "row alert alert-danger" id = "error-area" style = "display:none;"></div>
        <hr />
        <div class = "ecommerce-contact-form-social-media">
            {{#facebook}}
                <a class = "ecommerce-contact-form-facebook" href = "{{facebook}}" target = "_blank"><i class = "fa fa-facebook-f"></i></a>
            {{/facebook}}
            {{#twitter}}
                <a class = "ecommerce-contact-form-twitter" href = "{{twitter}}" target = "_blank"><i class = "fa fa-twitter"></i></a>
            {{/twitter}}
            {{#linkedIn}}
                <a class = "ecommerce-contact-form-linkedin" href = "{{linkedIn}}" target = "_blank"><i class = "fa fa-linkedin"></i></a>
            {{/linkedIn}}
        </div>
        {{#phone}}
            <div>
                <div class = "contact-phone-label">{{#str}}contact_phone, local_ecommerce{{/str}}:</div>
                <div class = "contact-phone">{{phone}}</div>
            </div>
        {{/phone}}
        {{#openingHours}}
            <div class = "ecommerce-opening-hours-label">{{#str}}opening_hours, local_ecommerce{{/str}}:</div>
            <pre class = "ecommerce-opening-hours">{{openingHours}}</pre>
        {{/openingHours}}
    </form>
</div>