{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/dashboard

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}

<div class="ecommerce-filter-form ecommerce-table-filter-form inner-filter clearfix">
    <form action="{{pageurl}}" class="form-inline mform clearfix" id="filter_form">
        <h3 class = "ecommerce-store-page-header">{{#str}}dashboard, local_ecommerce{{/str}}</h3>
        <div class = "ecommerce-store-filter-controls">
            <span class="date-range-input daterange-wrap">
                <input type="text" class="form-control" id="daterange" name="daterange" title="{{#str}}daterange, local_ecommerce{{/str}}" placeholder="{{#str}}daterange, local_ecommerce{{/str}}" value="{{daterange.daterange}}" />
                <i class="ecommerce-icon-calendar {{#daterange.daterange}}hidden{{/daterange.daterange}}" title="{{#str}}daterange, local_ecommerce{{/str}}"></i>
                <i class="fa fa-times daterange-clear {{^daterange.daterange}}hidden{{/daterange.daterange}}" title="{{#str}}daterangeclear, local_ecommerce{{/str}}"></i>
            </span>
        </div>
    </form>
</div>
<div class="ecommerce-content-box ecommerce-dashboard" data-region="dashboard">
    <div class="ecommerce-content" id="ecommerce-admin-content">
        <!-- main graph -->
        <div class="ecommerce-dashboard-content-box">
            <div class="ecommerce-dashboard-context-box-header">
                {{#str}}dashboardcontentbox1, local_ecommerce{{/str}}
            </div>
            <div class="main-graph">
                <div id="main_graph_container" class="widget-content"></div>
            </div>
        </div>

        <div class="ecommerce-dashboard-content-box">
            <div class="ecommerce-dashboard-context-box-header">
                {{#str}}statistics, local_ecommerce{{/str}}
            </div>

            <!-- statistic blocks -->
            <div class="statistic">
                <ul class="clearfix widget-content blocks-{{data.statisticblocks}}">
                    {{#data.statistic}}
                        <li>
                            <span class="icon"><i class="{{icon}}"></i></span>
                            <div class="data">
                                <div class="numbers">{{data}}</div>
                                <div class="name">{{name}}</div>
                            </div>
                        </li>
                    {{/data.statistic}}
                </ul>
            </div>

            <!-- widget blocks -->
            <div class="graphs-widgets clearfix blocks-{{data.statisticblocks}}">
                {{#data.widgets}}
                <div class="widget-item widget-block">
                    <div class="ecommerce-dashboard-context-box-header">
                        {{name}}
                    </div>

                    <div class="graph widget-content">
                        <div id="{{container}}" class="graph-container"></div>
                    </div>
                </div>
                {{/data.widgets}}
            </div>
        </div>

        <!-- table -->
        <div class="report-table widget-block">
            <div class="reporttable3-widget"></div>
            <div class="ecommerce-dashboard-content-box">
                <div class="ecommerce-dashboard-context-box-header">
                    {{#str}}lastorders, local_ecommerce{{/str}}
                </div>

                <div class="widget-content">
                    {{{reporttable}}}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="https://www.gstatic.com/charts/loader.js"></script>

{{#js}}
    google.charts.load('current', {'packages':['line', 'corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', '');
        data.addColumn('number', '{{#str}}paidusers, local_ecommerce{{/str}}');
        {{#enablecoupons}}
        data.addColumn('number', '{{#str}}couponsused, local_ecommerce{{/str}}');
        {{/enablecoupons}}
        {{#enablediscounts}}
        data.addColumn('number', '{{#str}}discountsapplied, local_ecommerce{{/str}}');
        {{/enablediscounts}}
        {{#enablewaitlist}}
        data.addColumn('number', '{{#str}}waitlistseats, local_ecommerce{{/str}}');
        {{/enablewaitlist}}
        data.addRows([{{data.graph}}]);

        var options = {
            chartArea: {
                width: '95%',
                right:50,
                left: 50,
                top:25
            },
            curveType: 'none',
            height: 230,
            hAxis: {
                format: 'dd MMM',
                gridlines: {color: 'none'},
                textStyle: {
                    color: '#56656f',
                    fontName: 'Avenir Next,Helvetica Neue,Arial,sans-serif'
                }
            },
            vAxis: {
                minValue: 0,
                logScale: false,
                textStyle: {
                    color: '#56656f',
                    fontName: 'Avenir Next,Helvetica Neue,Arial,sans-serif'
                }
            },
            backgroundColor:{fill:'transparent'},
            legend: {
                position: 'top',
                alignment: 'center',
                color: '#56656f',
                textStyle: {
                    color: '#56656f',
                    fontName: 'Avenir Next,Helvetica Neue,Arial,sans-serif'
                }
            },
            pointSize: 5,
            colors: [ '#ff671f', '#818b94', '#ffe1c1', '#e9e7e6' ],
            theme: 'material'
        };

        var chart = new google.charts.Line(document.getElementById('main_graph_container'));
        chart.draw(data, google.charts.Line.convertOptions(options));
    }

    {{#data.widgets}}
        google.charts.setOnLoadCallback({{container}});
        function {{container}}() {
            var data = google.visualization.arrayToDataTable({{{graphdata}}});
            var options = {
                backgroundColor:{fill:"transparent"},
                title: '',
                legend: { position: 'top', alignment: 'center'},
                pieHole: 0.8,
                pieSliceText: 'none',
                pieSliceTextStyle: {
                    color: 'black',
                    fontName: 'Avenir Next,Helvetica Neue,Arial,sans-serif',
                    fontSize: 15
                },
                chartArea: {
                    width: '100%'
                },
                slices: {
                    0: { color: '#ff671f' },
                    1: { color: '#ebae6d' },
                    2: { color: '#fee0a2' },
                    3: { color: '#a6daff' },
                    4: { color: '#0bad9e' },
                    5: { color: '#abd825' },
                    6: { color: '#666666' },
                    7: { color: '#fae25e' },
                    8: { color: '#f58344' },
                    9: { color: '#dd3745' },
                    10: { color: '#4d4d4d' },
                    11 : { color: '#29aae3' },
                }
            };
            var chart = new google.visualization.PieChart(document.getElementById('{{container}}'));
            chart.draw(data, options);
        }
    {{/data.widgets}}
{{/js}}
