{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_products_catalogue/products_list

    This template renders the available categories content area for the dashboard block.

    Example context (json):
    {}
}}
<div class="ecommerce-mobile-menu-toggle" id = "store-menu-toggle">
    {{# str }} expand_tab_menu, local_ecommerce {{/ str }}&nbsp;<i class = "ecommerce-icon-arrow"></i>
</div>
<div class="ecommerce-menu-bar ecommerce-admin-menu-bar">
    <a href="{{dashboardurl}}" class = "ecommerce-menu-bar-item {{#dashboardactive}}active{{/dashboardactive}}">{{# str }} dashboard, local_ecommerce {{/ str }}</a>
    <a href="{{categoriesurl}}" class = "ecommerce-menu-bar-item {{#categoriesactive}}active{{/categoriesactive}}">{{# str }} categories, local_ecommerce {{/ str }}</a>
    <a href="{{productsurl}}" class = "ecommerce-menu-bar-item {{#productsactive}}active{{/productsactive}}">{{# str }} products, local_ecommerce {{/ str }}</a>
    <a href="{{couponssurl}}" class = "ecommerce-menu-bar-item {{#couponsactive}}active{{/couponsactive}}">{{# str }} coupons, local_ecommerce {{/ str }}</a>
    <a href="{{discountsurl}}" class = "ecommerce-menu-bar-item {{#discountsactive}}active{{/discountsactive}}">{{# str }} discounts, local_ecommerce {{/ str }}</a>
    <a href="{{paymenttypesurl}}" class = "ecommerce-menu-bar-item {{#paymenttypesactive}}active{{/paymenttypesactive}}">{{# str }} paymenttypes, local_ecommerce {{/ str }}</a>
    <a href="{{waitlisturl}}" class = "ecommerce-menu-bar-item {{#waitlistactive}}active{{/waitlistactive}}">{{# str }} waitlist, local_ecommerce {{/ str }}</a>
    <a href="{{reportsurl}}" class = "ecommerce-menu-bar-item {{#reportsactive}}active{{/reportsactive}}">{{# str }} reports, local_ecommerce {{/ str }}</a>
    <a href="{{salesurl}}" class = "ecommerce-menu-bar-item {{#salesactive}}active{{/salesactive}}">{{# str }} sales, local_ecommerce {{/ str }}</a>
    <a href="{{reviewsurl}}" class = "ecommerce-menu-bar-item {{#reviewsactive}}active{{/reviewsactive}}">{{# str }} reviews, local_ecommerce {{/ str }}</a>
    <a href="{{sliderurl}}" class = "ecommerce-menu-bar-item {{#slideractive}}active{{/slideractive}}">{{# str }} slider, local_ecommerce {{/ str }}</a>
    <a href="{{settingsurl}}" class = "ecommerce-menu-bar-item">{{# str }} settings, local_ecommerce {{/ str }}</a>
</div>