{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/ecommerce-products

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}

<div class="shopping-cart-products">

    <div class="checkout-products-list clearfix">
    {{#products}}
        <div class="checkout-products-list-item productbox clearfix" data-item-id="{{id}}">

            <!-- product image -->
            <img class = "checkout-image" src = "{{image}}" />
            <div class = "checkout-product-details">
                <!-- product name -->
                <div class="checkout-product-name"><a href="{{producturl}}">{{name}}</a></div>

                <!-- product description -->
                <div class="checkout-product-description">
                    <div class="realprice clearfix {{#discountprice}}with-discount{{/discountprice}}">
                        <label class = "checkout-product-price-label">{{# str }} price_excl_gst, local_ecommerce {{/ str }}:</label>
                        <span class = "pull-right" {{#discountprice}}style = 'text-decoration:line-through;'{{/discountprice}}>{{{currency}}}{{price}}</span>
                    </div>
                    {{#discountprice}}
                        <div class="discountprice clearfix">
                            <label class = "checkout-product-price-label">{{# str }} discountprice, local_ecommerce {{/ str }}:</label>
                            <span class = 'checkout-discount-price pull-right'>{{{currency}}}{{discountprice}}</span>
                        </div>
                    {{/discountprice}}
                </div>

                <!-- product delete button -->
                <div class="checkout-product-remove-button">
                    <a href="{{{removeurl}}}"><button class="btn btn-secondary" data-product-id="{{id}}">{{# str }} remove, local_ecommerce {{/ str }}</button></a>
                </div>
            </div>
        </div>
    {{/products}}
    </div>
</div>