{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/ecommerce-index

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}

<div class="shopping-checkout-box">

    {{> local_ecommerce/payment-summary }}

    <!-- checkout button -->
    <div class="product-checkout-button">
        <a href="{{checkouturl}}"><button class="btn btn-primary">{{# str }} checkout, local_ecommerce {{/ str }}<i class="fa fa-shopping-cart"></i></button></a>
    </div>

</div>

