{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/ecommerce_popover_footer

    This template will render the product content item for the
    navigation bar announcement menu.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * contexturl A link to the announcement resource
    * read If the announcement is read or not
    * title The title text
    * id Announcement id
    * iconurl The URL for the announcement icon
    * shortenedsubject A shortened version of subject text
    * startdatepretty Pretty formatted time stamp
    * viewmoreurl The link to the full announcement

    Example context (json):
    {
        "contexturl": "http://www.moodle.com",
        "read": true,
        "title": "You have an announcement",
        "id": 1,
        "iconurl": "http://www.moodle.com",
        "shortenedtitle": "You have a...",
        "startdatepretty": "5 minutes ago",
        "viewmoreurl": "http://www.moodle.com"
    }

}}
<div class="popover-region-footer-content ecommerce-footer">
    {{#subtotal}}
    <ul>
        <li class="clearfix">
            <label>{{#str}} subtotal, local_ecommerce {{/str}}:</label>
            <span>${{subtotal}}</span>
        </li>
        <li class="clearfix">
            <label>{{#str}} discount, local_ecommerce {{/str}}:</label>
            <span>${{discount}}</span>
        </li>
        <li class="clearfix total-price">
            <label>{{#str}} total, local_ecommerce {{/str}}:</label>
            <span>${{total}}</span>
        </li>
    </ul>
    {{/subtotal}}
    <div class="popover-region-seeall-text">
        {{#enablewaitlist}}
            <a href="{{waitlisturl}}" class="btn btn-primary btn-waitlist"><i class="ecommerce-icon-menu"></i>{{#str}} waitlist, local_ecommerce {{/str}}</a>
        {{/enablewaitlist}}
        {{#productscount}}
            <a href="{{checkouturl}}" class="btn btn-primary">{{#str}} checkout, local_ecommerce {{/str}}</a>
        {{/productscount}}
    </div>
</div>
