{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/ecommerce-index

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}

{{{checkout_header}}}

<div class="ecommerce-content-box ecommerce-index" data-region="ecommerce-index">

    <div class="ecommerce-dashboard-context-box-header ecommerce-index">{{title}}</div>

    <div class="ecommerce-content">

    {{#isproducts}}
        <div class="shopping-cart-box clearfix">

            {{> local_ecommerce/ecommerce-products }}

        </div>
    {{/isproducts}}

    {{^isproducts}}
        <div class="alert alert-info">{{#str}} shopingcartisempty, local_ecommerce {{/str}}</div>
    {{/isproducts}}

    </div>
</div>

{{#isproducts}}
    <div class="ecommerce-content-box ecommerce-checkout-right" data-region="ecommerce-index">
        <div class="ecommerce-content">
            <div class="shopping-cart-box clearfix">

                {{> local_ecommerce/ecommerce-checkout }}

            </div>
        </div>
    </div>
{{/isproducts}}