{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/checkout_popover

    This template will render the checkout popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
        "urls": {
            "preferences": "http://www.moodle.com"
        }
    }

}}
{{< core/popover_region }}
    {{$classes}}popover-region-ecommerce{{/classes}}
    {{$attributes}}id="nav-ecommerce-popover-container" data-userid="{{userid}}"{{/attributes}}

    {{$togglelabel}}{{#str}} showecommerce, local_ecommerce {{/str}}{{/togglelabel}}
    {{$togglecontent}}
        <i class="ecommerce-icon-cart" aria-hidden="true" title="{{#str}} ecommerce, local_ecommerce {{/str}}" aria-label="{{#str}} ecommerce, local_ecommerce {{/str}}"></i>
        <div class="count-container hidden" data-region="count-container"></div>
    {{/togglecontent}}

    {{$containerlabel}}{{#str}} ecommercewindow, local_ecommerce {{/str}}{{/containerlabel}}

{{$headertext}}{{#str}} your_cart, local_ecommerce {{/str}}{{/headertext}}

    {{$content}}
        <div class="all-products"
            data-region="all-products"
            role="log"
            aria-busy="false"
            aria-atomic="false"
            aria-relevant="additions"></div>
        <div class="empty-message" tabindex="0" data-region="empty-message">{{#str}} emptyecommerce, local_ecommerce {{/str}}</div>
    {{/content}}
{{/ core/popover_region }}
{{#js}}
require(['jquery', 'local_ecommerce/ecommerce_popover_controller'], function($, controller) {
    var container = $('#nav-ecommerce-popover-container');
    var controller = new controller(container);
    controller.registerEventListeners();
    controller.registerListNavigationEventListeners();
});
{{/js}}
