{{#enableSlider}}
<div class="slideshow-container">
    {{#slide1}}
        <div class="store-slides store-slides-fade">
            <img src="{{slide1.image}}" alt = "{{slide1.caption}}" title = "{{slide1.caption}}" />
            <a href = "{{slide1.url}}">
                <div class="store-slides-text">{{slide1.caption}}</div>
            </a>
        </div>
    {{/slide1}}
    {{#slide2}}
        <div class="store-slides store-slides-fade">
            <img src="{{slide2.image}}" alt = "{{slide2.caption}}" title = "{{slide2.caption}}" />
            <a href = "{{slide2.url}}">
                <div class="store-slides-text">{{slide2.caption}}</div>
            </a>
        </div>
    {{/slide2}}
    {{#slide3}}
        <div class="store-slides store-slides-fade">
            <img src="{{slide3.image}}" alt = "{{slide3.caption}}" title = "{{slide3.caption}}" />
            <a href = "{{slide3.url}}">
                <div class="store-slides-text">{{slide3.caption}}</div>
            </a>
        </div>
    {{/slide3}}
    {{#slide4}}
        <div class="store-slides store-slides-fade">
            <img src="{{slide4.image}}" alt = "{{slide4.caption}}" title = "{{slide4.caption}}" />
            <a href = "{{slide4.url}}">
                <div class="store-slides-text">{{slide4.caption}}</div>
            </a>
        </div>
    {{/slide4}}
    {{#slide5}}
        <div class="store-slides store-slides-fade">
            <img src="{{slide5.image}}" alt = "{{slide5.caption}}" title = "{{slide5.caption}}" />
            <a href = "{{slide5.url}}">
                <div class="store-slides-text">{{slide5.caption}}</div>
            </a>
        </div>
    {{/slide5}}

    <!-- Next and previous buttons -->
    <a class="prev" id = "previous-slide">&#10094;</a>
    <a class="next" id = "next-slide">&#10095;</a>
</div>
{{/enableSlider}}