<div class = "payment-form-part-two">
    <div class="nopayment-form invoice-payment-form">
        <div class="invoice-payment-pdficons"><i class="eicon-pdf"></i></div>
        <div class = "text-left">
            <p>{{#str}}paymentinvoiceoptionstext, local_ecommerce{{/str}}</p>
            <p>{{{payment_rubric}}}</p>
            <p>{{#str}}click_process_payment, local_ecommerce{{/str}}</p>
        </div>
    </div>
</div>
<div class = "payment-form-part-three">
    <div class="shopping-checkout-box">
        {{> local_ecommerce/payment-summary }}
        <div class = "text-right">
            <a href="{{{invoiceurl}}}" id = "invoice-payment-button" class="btn btn-primary final-payment-button" target="_blank" title="{{#str}}processpayment, local_ecommerce{{/str}}">{{#str}}processpayment, local_ecommerce{{/str}}</a>
        </div>
    </div>
</div>