{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/dashboard

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}

<script type="text/javascript">

    window.onload = function(e){
        var expandedButton = document.getElementById("expanded-btn");
        if (expandedButton != null) {
            expandedButton.style.display = "none";
        }
    }

</script>

{{{tabs}}}

{{^hide-header}}<div class="ecommerce-page-header"> {{title}} </div>{{/hide-header}}
<!--{{#edit-product-title}}
    <div class="ecommerce-edit-page-collapsible-action">

        <button class='btn-success btn collapsed-btn' id="collapsed-btn" onclick="collapsedAll()">
            {{#str}}collapsible-action, local_ecommerce{{/str}}
        </button>

        <button class='btn-success btn expand-btn' id="expanded-btn" onclick="expandAll()">
            {{#str}}expandable-action, local_ecommerce{{/str}}
        </button>

    </div>
{{/edit-product-title}}-->

<div class="ecommerce-content-box ecommerce-{{page-type}}" data-region="{{page-type}}">
    
    <div class="ecommerce-content" id = "ecommerce-admin-content">

        {{{content}}}

    </div>

</div>

<script type="text/javascript">

    function collapsedAll() {
        var fieldsetDescription = document.getElementById("id_descriptionhdr");
        fieldsetDescription.classList.add("collapsed");

        var fieldsetEnrolment = document.getElementById("id_enrollmenthdr");
        fieldsetEnrolment.classList.add("collapsed");
    }

</script>