<div class="nopayment-form">
    <p><b>{{#str}}cost, local_ecommerce{{/str}}: {{currency_code}} {{cost}}</b></p>

    <form action="{{paymenturl}}" method="post">
        <input type="hidden" name="id" value="{{checkout_id}}" />

        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> {{#str}}processpayment, local_ecommerce{{/str}}</button>
    </form>
</div>