{{{checkout_header}}}

<div class="payment-forms" id = "payment-forms">
    <div class="ecommerce-dashboard-context-box-header ecommerce-index">{{#str}}payment_method, local_ecommerce{{/str}}</div>
    {{#str}}choose_payment_method, local_ecommerce{{/str}}
    <div class="inner-tabs">
        <ul class="nav nav-tabs">
            {{#forms}}
                <li class="nav-item">
                    <a data-toggle="tab" role="tab" class="nav-link {{#active}}active{{/active}}" href="#form{{instance.id}}"><i class = "fa fa-{{icon}}"></i>{{instance.name}}</a>
                </li>
            {{/forms}}
        </ul>
    </div>


</div>
<div class="tab-content">
    {{#forms}}
        <div id="form{{instance.id}}" class="tab-pane {{#active}}active{{/active}}" role="tabpanel">
            {{{form}}}
        </div>
    {{/forms}}
</div>