{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/ecommerce-index

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}

<div class="ecommerce-dashboard-context-box-header ecommerce-index">{{# str }} order_summary, local_ecommerce {{/ str }}</div>
<ul class="shopping-checkout-data">
    <li>
        <div class="clearfix">
            <label class = "checkout-product-price-label">{{# str }} subtotal, local_ecommerce {{/ str }}:</label>
            <span class = "checkout-product-price">{{{currency}}}{{subtotal}}</span>
        </div>
    </li>
    <li>
        <div class="clearfix">
            <label class = "checkout-product-price-label">{{# str }} discounts, local_ecommerce {{/ str }}:</label>
            <span class = "checkout-product-price">{{{currency}}}{{discount}}</span>
        </div>
    </li>
    {{#salestax}}
        <li>
            <div class="clearfix">
                <label class = "checkout-product-price-label">{{# str }} pre_tax_total, local_ecommerce {{/ str }}:</label>
                <span class = "checkout-product-price">{{{currency}}}{{pretaxtotal}}</span>
            </div>
        </li>
        <li>
            <div class="clearfix">
                <label class = "checkout-product-price-label">{{salestaxname}}:</label>
                <span class = "checkout-product-price">{{{currency}}}{{salestax}}</span>
            </div>
        </li>
    {{/salestax}}
    <li class="total-price">
        <div class="clearfix">
            <label class = "checkout-product-price-label">{{# str }} total, local_ecommerce {{/ str }}:</label>
            <span class = "checkout-product-price">{{{currency}}}{{total}}</span>
        </div>
    </li>
</ul>

<!-- discounts -->
{{#enablediscounts}}
    <div class="product-discounts-box">
        {{#isdiscounts}}
            <div class="discount-list-box clearfix">
                <div class="discounts-title checkout-product-price-label">{{# str }} discounts, local_ecommerce {{/ str }}:</div>

                <ul class="discount-list">
                    {{#discounts}}
                        <li>
                            <div class="clearfix">
                                <label></label>
                                <span class = "checkout-product-price">{{name}}</span>
                            </div>
                        </li>
                    {{/discounts}}
                </ul>
            </div>
        {{/isdiscounts}}
    </div>
{{/enablediscounts}}

<!-- coupons -->
{{#enablecoupons}}
    {{#iscoupons}}
        <div class="product-coupons-box">
            <div class="coupons-title checkout-product-price-label">{{# str }} coupons, local_ecommerce {{/ str }}:</div>

            <ul class="coupons-list">
                {{#coupons}}
                    <li>
                        <div class="clearfix">
                            <label></label>
                            <span class = "checkout-product-price">{{code}}<a href="{{ecommerceurl}}?id={{logid}}&action=couponremove"><i class="fa fa-times" title="{{# str }} delete {{/ str }}"></i></a></span>
                        </div>
                    </li>
                {{/coupons}}
            </ul>
        </div>
    {{/iscoupons}}
<input type = "hidden" value = "1" name = "group">
    <!-- add coupon form -->
    {{^iscoupons}}
        <div class="product-coupons-form">
            <form action="{{formactionurl}}" name="coupons_form form-inline mform clearfix" id="coupons_form" method="POST">
                <input type="hidden" name="action" value="couponapply">
                <label for = "coupon" class = "checkout-coupon-label">{{# str }} coupon, local_ecommerce {{/ str }}</label>
                <input type="text" class="form-control" name="coupon" id="coupon">
                <input type="submit" name="submit" class="btn btn-secondary" id="coupon_btn" value="{{# str }} apply, local_ecommerce {{/ str }}">
                {{#display_shipping_policy}}
                    <a href = "{{shipping_policy_url}}" target = "_blank" class = "checkout-shipping-link">{{# str }} shipping_tandcs, local_ecommerce {{/ str }}</a>
                {{/display_shipping_policy}}
            </form>
        </div>
    {{/iscoupons}}
{{/enablecoupons}}

