<div class = "payment-form-part-two">
    <div class="payment-form paypal-form">
        <p><img src="{{logo}}" /></p>
        <p><img src="{{cards_img}}" class = "cards-img" /></p>
        <div class = "text-left">
            <p>{{#str}}paymentoptionstext, local_ecommerce{{/str}}</p>
            <p>{{{payment_rubric}}}</p>
            <p>{{#str}}click_process_payment, local_ecommerce{{/str}}</p>
        </div>
    </div>
</div>
<div class = "payment-form-part-three">

    <div class="shopping-checkout-box">
        {{> local_ecommerce/payment-summary }}

        <form action="{{paypalurl}}" method="post">
            <input type="hidden" name="cmd" value="_xclick" />
            <input type="hidden" name="charset" value="utf-8" />
            <input type="hidden" name="business" value="{{paypalbusiness}}" />
            <input type="hidden" name="item_name" value="{{item_name}}" />
            <input type="hidden" name="item_number" value="{{c}}" />
            <input type="hidden" name="quantity" value="1" />
            <input type="hidden" name="on0" value="{{#str}}user, local_ecommerce{{/str}}" />
            <input type="hidden" name="os0" value="{{user_name}}" />
            <input type="hidden" name="custom" value="{{checkout_id}}-{{user_id}}-{{instance.id}}" />

            <input type="hidden" name="currency_code" value="{{currency_code}}" />
            <input type="hidden" name="amount" value="{{cost}}" />

            <input type="hidden" name="for_auction" value="false" />
            <input type="hidden" name="no_note" value="1" />
            <input type="hidden" name="no_shipping" value="1" />
            <input type="hidden" name="notify_url" value="{{notify_url}}" />
            <input type="hidden" name="return" value="{{return}}" />
            <input type="hidden" name="cancel_return" value="{{cancel_return}}" />
            <input type="hidden" name="rm" value="2" />
            <input type="hidden" name="cbt" value="{{#str}}continuetocourses, local_ecommerce{{/str}}" />

            <input type="hidden" name="first_name" value="{{first_name}}" />
            <input type="hidden" name="last_name" value="{{last_name}}" />
            <input type="hidden" name="address" value="{{address}}" />
            <input type="hidden" name="city" value="{{city}}" />
            <input type="hidden" name="email" value="{{email}}" />
            <input type="hidden" name="country" value="{{country}}" />

            <div class = "text-right">
                <input type="submit" class="btn btn-primary final-payment-button paypal-button" value="{{#str}}processpayment, local_ecommerce{{/str}}" />
            </div>
        </form>
    </div>
</div>