{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/product-courses-list

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}

{{{tabs}}}

{{{review_header}}}

<div id = 'product-review-container'>
    <div class = "product-reviews">
        <div class="review-details">
            <h4 class="username">{{review.username}}</h4>
            <div class = "user-review-count">({{review.user_review_count}} {{# str }} reviews_total, local_ecommerce {{/ str }})</div>
            <div class = "ratings-area">
                <div class="product-rating">
                    <div class="empty-stars"></div>
                    <div class="full-stars" style="width:{{review.rating}}%"></div>
                </div>
                <div class="star-count">{{review.starcount}}</div>
                <div class="review-created">{{review.reviewcreated}}</div>
            </div>
            <div class = "review-area">{{review.review}}</div>
        </div>
        <div class="load-more-box clearfix load-more-reviews-box">
            <a class="btn btn-primary" id="delete-review" href = "{{deleteurl}}">{{# str }} delete_review, local_ecommerce {{/ str }}</a>
        </div>
    </div>
</div>