{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/product-courses-list

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}

{{#arecourses}}
    <div class="tab-content grid-view product-items">
        <div class="product-view-courses-list">
            <h3 class="item-title">{{# str }} courses, local_ecommerce {{/ str }}</h3>
            {{#courses}}
                {{#display_image}}
                    <a href = "{{course_url}}">
                        <img src = "{{image_url}}" class = "product-view-course-image" alt = "{{fullname}}" />
                    </a>
                {{/display_image}}
                <div class = "product-view-course-details">
                    <a href = "{{course_url}}" class = "product-view-course-link">
                        <h3 class = "product-view-course-name">{{fullname}}</h3>
                    </a>
                    <div class = "product-view-course-desc">{{{summary}}}</div>
                </div>
            {{/courses}}
        </div>
    </div>
{{/arecourses}}