{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/dashboard

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}
<!--[if IE]>
    <style>
        .full-stars {
            color: #ECBE24;
        }
    </style>
<![endif]-->
<div class="ecommerce-content-box ecommerce-{{page-type}}" data-region="{{page-type}}">
    <h3 class="product-name" data-id = "{{product.id}}">{{product.name}}</h3>
    <div class = "device-show">
        <div class = "product-detail-pricing">
        <span class = {{#product.discountprice}}'discounted-price'{{/product.discountprice}}{{^product.discountprice}}'discount-price'{{/product.discountprice}}>{{{product.currency}}}{{product.price}}</span>
            {{#product.discountprice}}
                <span class = 'discount-price'>{{{product.currency}}}{{product.discountprice}}</span>
            {{/product.discountprice}}
            {{# str }} price_excl_gst, local_ecommerce {{/ str }}
        </div>


        {{#product.displaysold}}<div class = "units-sold" data-id = "{{id}}">(&nbsp;{{product.sold}} {{# str }} units_sold, local_ecommerce {{/ str }}&nbsp;)</div>{{/product.displaysold}}
        {{#product.enable_reviews}}
            {{#product.rating}}
                <div class = "ratings-area" data-id = "{{product.id}}">
                    <div class="product-rating" data-id = "{{product.id}}">
                        <div class="empty-stars"></div>
                        <div class="full-stars" style="width:{{product.rating}}%"></div>
                    </div>
                    <div class = "rating" data-id = "{{product.id}}">{{product.ratingnumber}}</div>
                    <div class = "rating-users" data-id = "{{product.id}}">({{product.ratingusers}} {{# str }} review, local_ecommerce {{/ str }}{{product.ratingplural}})</div>
                </div>
            {{/product.rating}}
        {{/product.enable_reviews}}
    </div>
    <div class="product-add-button">
        {{#product.purchased}}
            <div class = "purchased-item">{{# str }} item_purchased, local_ecommerce {{/ str }}</div>
        {{/product.purchased}}
        {{^product.purchased}}
            {{#product.cancheckout}}
                {{#product.incart}}
                    <a class="btn btn-primary active btn-add-to-cart" href = "{{product.carturl}}" data-product-id="{{product.id}}">{{# str }} incart, local_ecommerce {{/ str }}</a>
                {{/product.incart}}
                {{^product.incart}}
                    {{#product.seatsallow}}
                        <button class="btn btn-primary btn-add-to-cart" data-product-id="{{product.id}}" onclick="add_to_cart({{product.id}}, this);">{{# str }} addtocart, local_ecommerce {{/ str }}</button>
                    {{/product.seatsallow}}
                    {{^product.seatsallow}}
                        {{#product.enablewaitlist}}
                            {{#product.inwaitlist}}
                                <button class="btn btn-primary btn-disabled btn-waitlist" disabled="disabled" data-product-id="{{product.id}}">{{# str }} inwaitlist, local_ecommerce {{/ str }}</button>
                            {{/product.inwaitlist}}
                            {{^product.inwaitlist}}
                                <button class="btn btn-primary btn-waitlist" data-product-id="{{product.id}}" onclick="add_to_waitlist({{product.id}}, this);">{{# str }} addtowaitlist, local_ecommerce {{/ str }}</button>
                            {{/product.inwaitlist}}
                        {{/product.enablewaitlist}}
                    {{/product.seatsallow}}
                    {{^product.inwaitlist}}
                        {{#product.inwishlist}}
                            <button class="btn btn-secondary btn-disabled btn-wishlist" disabled="disabled" data-product-id="{{product.id}}">{{# str }} in_wishlist, local_ecommerce {{/ str }}</button>
                        {{/product.inwishlist}}
                        {{^product.inwishlist}}
                            <button class="btn btn-primary btn-wishlist" onclick="add_to_wishlist({{product.id}}, this);" data-product-id="{{product.id}}">{{# str }} add_to_wishlist, local_ecommerce {{/ str }}</button>
                        {{/product.inwishlist}}
                    {{/product.inwaitlist}}
                {{/product.incart}}
            {{/product.cancheckout}}
            {{^product.cancheckout}}
                <!-- view button -->
                <a href="{{product.producturl}}"><button class="btn btn-primary">{{# str }} buy_now, local_ecommerce {{/ str }}</button></a>
            {{/product.cancheckout}}
        {{/product.purchased}}
    </div>
    <div class = "device-hide">
        <div class = "product-detail-pricing">
            <span class = {{#product.discountprice}}'discounted-price'{{/product.discountprice}}{{^product.discountprice}}'discount-price'{{/product.discountprice}}>{{{product.currency}}}{{product.price}}</span>
            {{#product.discountprice}}
                <span class = 'discount-price'>{{{product.currency}}}{{product.discountprice}}</span>
            {{/product.discountprice}}
            {{# str }} price_excl_gst, local_ecommerce {{/ str }}
        </div>
        {{#product.displaysold}}<div class = "units-sold" data-id = "{{id}}">(&nbsp;{{product.sold}} {{# str }} units_sold, local_ecommerce {{/ str }}&nbsp;)</div>{{/product.displaysold}}
        {{#product.enable_reviews}}
            {{#product.rating}}
                <div class = "ratings-area" data-id = "{{product.id}}">
                    <div class="product-rating" data-id = "{{product.id}}">
                        <div class="empty-stars"></div>
                        <div class="full-stars" style="width:{{product.rating}}%"></div>
                    </div>
                    <div class = "rating" data-id = "{{product.id}}">{{product.ratingnumber}}</div>
                    <div class = "rating-users" data-id = "{{product.id}}">({{product.ratingusers}} {{# str }} review, local_ecommerce {{/ str }}{{product.ratingplural}})</div>
                </div>
            {{/product.rating}}
        {{/product.enable_reviews}}
    </div>
    <div class="product-info clearfix">

        <!-- product image -->
        <div class="product-image">
            <img src="{{product.imageurl}}" title="{{product.name}}">
        </div>

        <div class = "mobile-show">
            <!-- product description -->
            {{#product.description}}
                <div class="product-description">
                    <label>{{# str }} description, local_ecommerce {{/ str }}:</label>
                    {{{product.description}}}
                </div>
                <hr class = "light-grey-line" />
            {{/product.description}}
        </div>

        <!-- product details -->
        <div class="product-details">

            <div class = 'product-details-sharing'>
                {{#product.enablefbooksharing}}
                    <div class="fb-share-button"
                         data-href="{{product.socialmediasharelink}}"
                         data-layout="button_count">
                    </div>
                {{/product.enablefbooksharing}}
                {{#product.enabletwitsharing}}
                    <div class="twit">
                        <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
                    </div>
                {{/product.enabletwitsharing}}
                {{#product.enablelinkedinsharing}}
                    <div class="linked-in-share">
                        <script type="IN/Share" data-url="{{product.socialmediasharelink}}"></script>
                    </div>
                {{/product.enablelinkedinsharing}}
            </div>
            <!-- product code -->
            {{#product.idnumber}}
            <div class="product-info-item">
                <label>{{# str }} productcode, local_ecommerce {{/ str }}:</label>
                <span>{{product.idnumber}}</span>
            </div>
            {{/product.idnumber}}
            {{#product.associated_accreditation}}
                <div class="product-info-item">
                    <span>{{# str }} this_contributes, local_ecommerce {{/ str }} {{product.accreditation_points}} towards {{product.associated_accreditation}}.</span>
                </div>
            {{/product.associated_accreditation}}
            {{#product.enable_reviews}}
                {{#product.purchased}}
                    {{#product.alreadyrated}}
                        {{#product.enable_review_changes}}
                            <button class="btn btn-primary btn-rating" data-toggle="modal" data-target="#rating-modal" data-id = "{{product.id}}" data-current-rating = "{{product.userrating}}">{{# str }} change_rating, local_ecommerce {{/ str }}</button>
                        {{/product.enable_review_changes}}
                    {{/product.alreadyrated}}
                    {{^product.alreadyrated}}
                        <button class="btn btn-primary btn-rating" data-toggle="modal" data-target="#rating-modal" data-id = "{{product.id}}" data-current-rating = "{{product.userrating}}">{{# str }} rate_this_item, local_ecommerce {{/ str }}</button>
                    {{/product.alreadyrated}}
                    <div class = "hidden hidden-review" style = "display:none;" data-id = "{{product.id}}">{{product.review}}</div>
                {{/product.purchased}}
            {{/product.enable_reviews}}
        </div>
    </div>
    <div class = "mobile-hide">
        <!-- product description -->
        {{#product.description}}
            <div class="product-description">
                <label>{{# str }} description, local_ecommerce {{/ str }}:</label>
                {{{product.description}}}
            </div>
        {{/product.description}}
    </div>
    {{#product.youtube}}
        <div id="player"></div>
        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            // 3. This function creates an <iframe> (and YouTube player)
            //    after the API code downloads.
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '390',
                    width: '640',
                    videoId: '{{product.youtube}}'
                });
            }
        </script>
    {{/product.youtube}}
    {{^product.purchased}}
        {{#product.cancheckout}}
            {{#product.incart}}
                <a class="btn btn-primary active btn-add-to-cart" href = "{{product.carturl}}" data-product-id="{{product.id}}">{{# str }} incart, local_ecommerce {{/ str }}</a>
            {{/product.incart}}
            {{^product.incart}}
                {{#product.seatsallow}}
                    <button class="btn btn-primary btn-add-to-cart" data-product-id="{{product.id}}" onclick="add_to_cart({{product.id}}, this);">{{# str }} addtocart, local_ecommerce {{/ str }}</button>
                {{/product.seatsallow}}
                {{^product.seatsallow}}
                    {{#product.enablewaitlist}}
                        {{#product.inwaitlist}}
                            <button class="btn btn-primary btn-disabled btn-waitlist" disabled="disabled" data-product-id="{{product.id}}">{{# str }} inwaitlist, local_ecommerce {{/ str }}</button>
                        {{/product.inwaitlist}}
                        {{^product.inwaitlist}}
                            <button class="btn btn-primary btn-waitlist" data-product-id="{{product.id}}" onclick="add_to_waitlist({{product.id}}, this);">{{# str }} addtowaitlist, local_ecommerce {{/ str }}</button>
                        {{/product.inwaitlist}}
                    {{/product.enablewaitlist}}
                {{/product.seatsallow}}
                {{^product.inwaitlist}}
                    {{#product.inwishlist}}
                        <button class="btn btn-secondary btn-disabled btn-wishlist" disabled="disabled" data-product-id="{{product.id}}">{{# str }} in_wishlist, local_ecommerce {{/ str }}</button>
                    {{/product.inwishlist}}
                    {{^product.inwishlist}}
                        <button class="btn btn-primary btn-wishlist" onclick="add_to_wishlist({{product.id}}, this);" data-product-id="{{product.id}}">{{# str }} add_to_wishlist, local_ecommerce {{/ str }}</button>
                    {{/product.inwishlist}}
                {{/product.inwaitlist}}
            {{/product.incart}}
        {{/product.cancheckout}}
        {{^product.cancheckout}}
            <!-- view button -->
            <a href="{{product.producturl}}"><button class="btn btn-primary">{{# str }} buy_now, local_ecommerce {{/ str }}</button></a>
        {{/product.cancheckout}}
    {{/product.purchased}}
    {{{courses}}}
    {{#product.enable_reviews}}
        {{#product.rating}}
            <h3 class = "rating-users" data-id = "{{product.id}}">{{product.ratingusers}} {{# str }} review, local_ecommerce {{/ str }}{{product.ratingplural}}</h3>
            <div class = "ratings-area ratings-area-bottom" data-id = "{{product.id}}">
                <div class="product-rating" data-id = "{{product.id}}">
                    <div class="empty-stars"></div>
                    <div class="full-stars" style="width:{{product.rating}}%"></div>
                </div>
                <div class = "rating" data-id = "{{product.id}}">{{product.ratingnumber}}</div>
            </div>
        {{/product.rating}}
        {{{reviews}}}
    {{/product.enable_reviews}}
</div>
{{#product.purchased}}
    <div class="modal fade" id="rating-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title">
                        <strong><i class="fa fa-question-circle"></i>&nbsp;&nbsp;{{# str }} rate_this_item, local_ecommerce {{/ str }}</strong>
                    </h3>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="panel panel-body">
                        <div class="rating-area-wrapper">
                            <input type="checkbox" id="st5" value="5" class = "ratings-star" name = "rating[]" />
                            <label for="st5" class = "ratings-star-label"></label>
                            <input type="checkbox" id="st4" value="4" class = "ratings-star" name = "rating[]" />
                            <label for="st4" class = "ratings-star-label"></label>
                            <input type="checkbox" id="st3" value="3" class = "ratings-star" name = "rating[]" />
                            <label for="st3" class = "ratings-star-label"></label>
                            <input type="checkbox" id="st2" value="2" class = "ratings-star" name = "rating[]" />
                            <label for="st2" class = "ratings-star-label"></label>
                            <input type="checkbox" id="st1" value="1" class = "ratings-star" name = "rating[]" />
                            <label for="st1" class = "ratings-star-label"></label>
                        </div>
                        <div class = "text-left">
                            <label for="review">{{# str }} review_word_limit, local_ecommerce {{/ str }}</label>
                            <textarea id = "review" name = "review" maxlength = "1000" class = "form-control"></textarea>
                        </div>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="submit" id="submit-rating" class="btn btn-primary" data-id = "{{product.id}}">{{# str }} submit_rating, local_ecommerce {{/ str }}</button>
                    <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">{{# str }} cancel {{/ str }}</button>
                </div>
            </div>
        </div>
    </div>
{{/product.purchased}}