{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/product-courses-list

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}
{{{tabs}}}

{{#arereviews}}
    {{#categoryname}}
        <div id = 'product-review-container'>
    {{/categoryname}}
        <div class = "product-reviews">
            {{#reviews}}
                <div class="review-details">
                    <div class = "ratings-area">
                        <div class="product-rating">
                            <div class="empty-stars"></div>
                            <div class="full-stars" style="width:{{rating}}%"></div>
                        </div>
                        <h4 class="username">{{firstname}}</h4>
                    </div>
                    <div class = "review-area">{{review}}</div>
                </div>
            {{/reviews}}
        </div>
        {{#showloadmore}}
            <div class="load-more-box clearfix load-more-reviews-box">
                <button class="btn btn-primary btn-success" id="load-more-reviews" data-product-id="{{productid}}" data-page="{{nextpage}}">{{# str }} loadmore, block_products_catalogue {{/ str }}</button>
            </div>
        {{/showloadmore}}
    {{#categoryname}}
        </div>
    {{/categoryname}}
{{/arereviews}}