<div class="payment-form quickbooks-form">
    <p><b>{{#str}}paymentrequired{{/str}}</b></p>
    <p><b>{{#str}}cost, local_ecommerce{{/str}}: {{currency_code}} {{cost}}</b></p>
    <p><img src="{{logo}}" /></p>

    <form id="payment-form" action="{{ipnurl}}" method="post">
        <div class="alert alert-danger" style="display:none;" id="error-box"></div>
        <div class="row">
            <div class="inner">
                <div class="form-group">
                    <label for="card-number">{{#str}}cardnumber, local_ecommerce{{/str}}</label>
                    <input type="text" name="number" value="" class="form-control" id="card-number" placeholder="xxxxxxxxxxxxxxxx" required>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{#str}}expirationdate, local_ecommerce{{/str}}</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <select id="card-month" name="expMonth" class="form-control" required>
                                        <option value="">{{#str}}month, local_ecommerce{{/str}}</option>
                                        <option value="05">May</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select id="card-year" name="expYear" class="form-control" required>
                                        <option value="">{{#str}}year, local_ecommerce{{/str}}</option>
                                        <option value="2019">2019</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="card-cvv">{{#str}}cardcvv, local_ecommerce{{/str}}</label>
                            <input type="text" name="cvc" class="form-control" id="card-cvv" placeholder="xxx" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{#str}}processpayment, local_ecommerce{{/str}}</button>
        </div>
    </form>
</div>

<script src="https://js.appcenter.intuit.com/Content/IA/intuit.ipp.payments-0.0.3.js"></script>

{{#js}}
    require(['jquery'], function($) {
        var errorBox = $("#error-box");
        var submitButton = $("#submit-button");
        $("#payment-form").find("input").keydown(function () {
            errorBox.hide();
        });
        $("#payment-form").submit(function(e) {
            $("body").trigger('start-loader');
            var oldValue = submitButton.html();
            submitButton.html("Sending request...");
            var result = {
                address: {
                postalCode: ""
                }
            };

            var elements = $(this).serializeArray();
            for (var i in elements) {
                result[elements[i].name] = elements[i].value;
            }

            intuit.ipp.payments.tokenize(
                "intelliboard", {
                card: result
            },
                function(token) {
                    if (token != null) {
                        alert(token);
                        var form = $('<form action="{{ipnurl}}" method="POST" style="display: none;">'+
                            '<input type="hidden" name="token" value="' + token + '">' +
                            '<input type="hidden" name="invoice_id" value="123">' +
                            '</form>');
                        $("body").append(form);
                        form.submit();
                    } else {
                        submitButton.html(oldValue);
                        errorBox.html("Whoops! Something goes wrong. Please check the credentials and try again").show();
                    }
                }
            );
            return false;
        });
    });
{{/js}}