{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/categoties-index

    This template renders the main content area for the dashboard block.

    Example context (json):
    {}
}}
{{{reports_header}}}

<div class="reports-content-body">
   
    <div class="reports-top-panel clearfix">

        <div class="content-box-header"> 
            {{reports-index-box-header1}} 
        </div>

        <div class="income" align="center">
           <div class="income-icon"></div>
            <b>{{#str}}totalincome, local_ecommerce{{/str}}</b>
           <div class="income-amount">
              <span class="income-amount-value">{{{income}}}</span>
              <span class="income-currency-code"><b>{{income-currency-code}}</b></span>
           </div>
            
        </div>

        <div class="income-graph" id="income_graph" align="center"></div>

    </div>

    <div class="reports-tabs-box">
    
        <div class="shopping-cart-tablebox reports-list">

           <div class="content-box-header"> 
                {{reports-index-box-header2}} 
            </div>

            <ul class="clearfix">
                <div class="reports-list-box">
                    {{#reports}}
                        <li>
                            <div class="title">{{title}}</div>
                            <div class="description">{{description}}</div>
                            <div class="actions">
                                <a href="{{url}}"><button class="reports-view-btn">{{#str}}view, local_ecommerce{{/str}}</button></a>
                            </div>
                        </li>
                    {{/reports}}
                </div>
            </ul>
        </div>

    </div>
</div>

<script type="text/javascript"
        src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

<script src="https://code.highcharts.com/highcharts.src.js"></script>
{{#js}}
    google.setOnLoadCallback(drawIncome);
    function drawIncome() {
        var data = google.visualization.arrayToDataTable([
        ['{{#str}}month, local_ecommerce{{/str}}', '{{#str}}totalamountreceived, local_ecommerce{{/str}}', '{{#str}}numberofproductssold, local_ecommerce{{/str}}'],
        {{{incomegraph}}}
        ]);

        var options = {
            backgroundColor: 'transparent',
            legend: { position: 'top', alignment: 'center'},
            title : '',
            vAxis: {
                title: '',
                textStyle: {
                    color: '#56656f',
                    fontName: 'Avenir Next,Helvetica Neue,Arial,sans-serif'
                }
            },
            hAxis: {
                title: '',
                minValue: 0,
                textStyle: {
                    color: '#56656f',
                    fontName: 'Avenir Next,Helvetica Neue,Arial,sans-serif'
                }
            },
            seriesType: 'bars',
            colors: ['#ff671f', '#ffd1bb']
        };

        var chart = new google.visualization.ComboChart(document.getElementById('income_graph'));
        chart.draw(data, options);
    }
{{/js}}