<div class="ecommerce-filter-form ecommerce-table-filter-form inner-filter clearfix">

    <form action="{{pageurl}}" class="form-inline mform clearfix" id="filter_form">
        <h3 class = "ecommerce-store-page-header">{{page_header}}</h3>
        <div class = "ecommerce-store-filter-controls">
            <input type="hidden" class="form-control" name="id" value="{{id}}" />
            <input type="hidden" class="form-control" name="itemid" value="{{itemid}}" />

            <span class="search-form-input">
                <input type="text" class="form-control store-text-input" name="search" placeholder="{{#str}}searchplaceholder, local_ecommerce{{/str}}" value="{{search}}" />
                <i class="ecommerce-icon-search {{#search}}hidden{{/search}}" onclick="$(this).closest('form').submit();"></i>
                <i class="fa fa-times search-clear {{^search}}hidden{{/search}}"></i>
            </span>

            <span class="date-range-input daterange-wrap">
                <input type="text" class="form-control store-text-input" id="daterange" name="daterange" title="{{#str}}paidon, local_ecommerce{{/str}}" placeholder="{{#str}}paidon, local_ecommerce{{/str}}" value="{{daterange.daterange}}" />
                <i class="ecommerce-icon-calendar {{#daterange.daterange}}hidden{{/daterange.daterange}}" title="{{#str}}daterange, local_ecommerce{{/str}}"></i>
                <i class="fa fa-times daterange-clear {{^daterange.daterange}}hidden{{/daterange.daterange}}" title="{{#str}}daterangeclear, local_ecommerce{{/str}}"></i>
            </span>
        </div>
    </form>

</div>
<style>

</style>