<div class="ecommerce-filter-form ecommerce-table-filter-form inner-filter clearfix">

    <form action="{{pageurl}}" class="form-inline mform clearfix" id="filter_form">
        <h3 class = "ecommerce-store-page-header">{{#str}}sales, local_ecommerce{{/str}}</h3>
        <div class = "ecommerce-store-filter-controls">

            <span class="search-form-input">
                <input type="text" class="form-control store-text-input" name="search" placeholder="{{#str}}searchplaceholder, local_ecommerce{{/str}}" value="{{search}}" />
                <i class="ecommerce-icon-search {{#search}}hidden{{/search}}" onclick="$(this).closest('form').submit();"></i>
                <i class="fa fa-times search-clear {{^search}}hidden{{/search}}"></i>
            </span>

            <span class="date-range-input daterange-wrap">
                <input type="text" class="form-control store-text-input" id="daterange" name="daterange" title="{{#str}}paidon, local_ecommerce{{/str}}" placeholder="{{#str}}paidon, local_ecommerce{{/str}}" value="{{daterange.daterange}}" />
                <i class="ecommerce-icon-calendar {{#daterange.daterange}}hidden{{/daterange.daterange}}" title="{{#str}}daterange, local_ecommerce{{/str}}"></i>
                <i class="fa fa-times daterange-clear {{^daterange.daterange}}hidden{{/daterange.daterange}}" title="{{#str}}daterangeclear, local_ecommerce{{/str}}"></i>
            </span>
            {{#isfilter}}
            <span class="search-form-dropdown">
                <select name="status" class="form-control" onchange="this.form.submit()">
                    <option value="">{{#str}}showall, local_ecommerce{{/str}}</option>
                    <option value="pending"{{#status_pending}} selected{{/status_pending}}>{{#str}}status_pending, local_ecommerce{{/str}}</option>
                    <option value="completed"{{#status_completed}} selected{{/status_completed}}>{{#str}}status_completed, local_ecommerce{{/str}}</option>
                    <option value="rejected"{{#status_rejected}} selected{{/status_rejected}}>{{#str}}status_rejected, local_ecommerce{{/str}}</option>
                </select>
            </span>
            {{/isfilter}}
            <a class = "btn btn-primary csv-download-button" href = "{{{download_url}}}"><i class = "ecommerce-icon-download"></i>&nbsp;{{#str}}download_all, local_ecommerce{{/str}}</a>
        </div>
    </form>

</div>
