<div class="ecommerce-filter-form ecommerce-table-filter-form inner-filter clearfix">


    <form action="{{pageurl}}" class="form-inline mform clearfix">
        <h3 class = "ecommerce-store-page-header">{{name}}</h3>
        <div class = "ecommerce-store-filter-controls">
            <span class="search-form-input">
                <input type="text" class="form-control store-text-input" name="search" placeholder="{{#str}}searchplaceholder, local_ecommerce{{/str}}" value="{{search}}" />
                <i class="ecommerce-icon-search {{#search}}hidden{{/search}}" onclick="$(this).closest('form').submit();"></i>
                <i class="fa fa-times search-clear {{^search}}hidden{{/search}}"></i>
            </span>
            <span class="search-form-dropdown">
                <select name="view" class="form-control" onchange="this.form.submit()">
                    {{#filteroptions}}
                        <option value="{{value}}" {{#selected}}selected{{/selected}}>{{title}}</option>
                    {{/filteroptions}}
                </select>
            </span>
            {{#canedit}}
                <a href="{{editurl}}" title="{{#str}}createnew, local_ecommerce{{/str}}" class="btn btn-primary csv-download-button"><i class = "fa fa-plus"></i>&nbsp;{{#str}}createnew, local_ecommerce{{/str}}</a>
            {{/canedit}}
        </div>
    </form>

</div>