<div class="ecommerce-filter-form ecommerce-table-filter-form inner-filter clearfix">

    <form action="{{pageurl}}" class="form-inline mform clearfix" id="filter_form">
        <h3 class = "ecommerce-store-page-header">{{name}}</h3>
        <div class = "ecommerce-store-filter-controls">
            <span class="search-form-input">
                <input type="text" class="form-control store-text-input" name="search" placeholder="{{#str}}searchplaceholder, local_ecommerce{{/str}}" value="{{search}}" />
                <i class="ecommerce-icon-search {{#search}}hidden{{/search}}" onclick="$(this).closest('form').submit();"></i>
                <i class="fa fa-times search-clear {{^search}}hidden{{/search}}"></i>
            </span>

            {{#settingsurl}}
                <a href="{{settingsurl}}" title="{{#str}}settings, local_ecommerce{{/str}}" class="btn btn-secondary btn-icon csv-download-button"></a>
            {{/settingsurl}}
        </div>
    </form>

</div>
<style>

</style>