{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_products_catalogue/products_list

    This template renders the available categories content area for the dashboard block.

    Example context (json):
    {}
}}
<div class="ecommerce-company-header">
    <img src = "{{logo_url}}" alt = "{{site_name}}" />
    <h1 class = "ecommerce-compamny-header-name">{{site_name}}</h1>
</div>