{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_products_catalogue/products_list

    This template renders the available categories content area for the dashboard block.

    Example context (json):
    {}
}}
<!--[if IE]>
    <style>
        .full-stars {
            color: #ECBE24;
        }
    </style>
<![endif]-->
{{#firstpage}}
<div class="products clearfix frontpage-products-list" data-type="{{type}}">
    <div class="products-category-description">
        <h4 class="category-name">{{{categoryname}}}</h4>
    </div>
{{/firstpage}}
    {{#isproducts}}
        {{#products}}
            <div class="productbox clearfix" data-productid="{{id}}">
                <div class = "product-container {{#description}}store-tooltip{{/description}}">
                    <!-- product image -->
                    <div class="image" style="background:url('{{image}}') no-repeat scroll center center; background-size: cover;">
                        {{^purchased}}
                            {{#featured}}
                                <div class = "featured-item">{{# str }} featured_item, local_ecommerce {{/ str }}</div>
                            {{/featured}}
                        {{/purchased}}
                        {{#purchased}}
                            <div class = "purchased-item">{{# str }} item_purchased, local_ecommerce {{/ str }}</div>
                        {{/purchased}}
                        <div class = 'text-right social-media-shares'>
                            {{#enablefbooksharing}}
                                <div class="fb-share-button"
                                     data-href="{{socialmediasharelink}}"
                                     data-layout="button_count">
                                </div>
                            {{/enablefbooksharing}}
                            {{#enabletwitsharing}}
                                <div class="twit">
                                    <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
                                </div>
                            {{/enabletwitsharing}}
                            {{#enablelinkedinsharing}}
                                <div class="linked-in-share">
                                    <script type="IN/Share" data-url="{{socialmediasharelink}}"></script>
                                </div>
                            {{/enablelinkedinsharing}}
                        </div>
                    </div>

                    <!-- product name -->
                    <a href="{{producturl}}" class = "product-description-link"><h3 class="product-name">{{name}}</h3></a>
                    {{#enable_reviews}}
                        {{#rating}}
                        <div class = "ratings-area" data-id = "{{id}}">
                            <div class="product-rating" data-id = "{{id}}">
                                <div class="empty-stars"></div>
                                <div class="full-stars" style="width:{{rating}}%"></div>
                            </div>
                            <div class = "rating" data-id = "{{id}}">{{ratingnumber}}</div>
                            <div class = "rating-users" data-id = "{{id}}">({{ratingusers}} {{# str }} review, local_ecommerce {{/ str }}{{ratingplural}})</div>
                            {{#displaysold}}<div class = "units-sold" data-id = "{{id}}">(&nbsp;{{sold}} {{# str }} units_sold, local_ecommerce {{/ str }}&nbsp;)</div>{{/displaysold}}
                        </div>
                        {{/rating}}
                        {{^rating}}
                            <div class = "units-sold-area" data-id = "{{id}}">
                                {{#displaysold}}<div class = "units-sold" data-id = "{{id}}">(&nbsp;{{sold}} {{# str }} units_sold, local_ecommerce {{/ str }}&nbsp;)</div>{{/displaysold}}
                            </div>
                        {{/rating}}
                    {{/enable_reviews}}
                    {{^enable_reviews}}
                        <div class = "units-sold-area" data-id = "{{id}}">
                            {{#displaysold}}<div class = "units-sold" data-id = "{{id}}">(&nbsp;{{sold}} {{# str }} units_sold, local_ecommerce {{/ str }}&nbsp;)</div>{{/displaysold}}
                        </div>
                    {{/enable_reviews}}
                    <!-- product description -->
                    <div class="product-description">
                        <ul>
                            <li class="clearfix">
                                <span class = {{#discountprice}}'discounted-price'{{/discountprice}}{{^discountprice}}'discount-price'{{/discountprice}}>{{{currency}}}{{price}}</span>
                                {{#discountprice}}
                                    <span class = 'discount-price'>{{{currency}}}{{discountprice}}</span>
                                {{/discountprice}}
                                {{# str }} price_excl_gst, local_ecommerce {{/ str }}
                            </li>
                        </ul>
                    </div>
                    {{#associated_accreditation}}
                        <div class="clearfix accreditation-description">
                            <span>{{# str }} this_contributes, local_ecommerce {{/ str }} {{accreditation_points}} towards {{associated_accreditation}}.</span>
                        </div>
                    {{/associated_accreditation}}
                </div>
                <div class="product-view-btn">
                    {{^purchased}}
                        <!-- checkout button -->
                        {{#cancheckout}}
                            {{#incart}}
                                <a class="btn btn-primary active btn-add-to-cart" data-product-id="{{id}}" href = "{{carturl}}">{{# str }} incart, local_ecommerce {{/ str }}</a>
                            {{/incart}}
                            {{^incart}}
                                {{#seatsallow}}
                                    <button class="btn btn-primary btn-add-to-cart" onclick="add_to_cart({{id}}, this);" data-product-id="{{id}}">{{# str }} addtocart, local_ecommerce {{/ str }}</button>
                                {{/seatsallow}}
                                {{^seatsallow}}
                                    {{#enablewaitlist}}
                                        {{#inwaitlist}}
                                            <button class="btn btn-primary btn-disabled btn-waitlist" disabled="disabled" data-product-id="{{id}}">{{# str }} inwaitlist, local_ecommerce {{/ str }}</button>
                                        {{/inwaitlist}}
                                        {{^inwaitlist}}
                                            <button class="btn btn-primary btn-waitlist" onclick="add_to_waitlist({{id}}, this);" data-product-id="{{id}}">{{# str }} addtowaitlist, local_ecommerce {{/ str }}</button>
                                        {{/inwaitlist}}
                                    {{/enablewaitlist}}
                                {{/seatsallow}}
                                {{^inwaitlist}}
                                    {{#inwishlist}}
                                        <button class="btn btn-secondary btn-wishlist" disabled="disabled" data-product-id="{{id}}"><i class = "ecommerce-icon-heart"></i></button>
                                    {{/inwishlist}}
                                    {{^inwishlist}}
                                        <button class="btn btn-primary btn-wishlist" onclick="add_to_wishlist({{id}}, this);" data-product-id="{{id}}"><i class = "ecommerce-icon-heart"></i></button>
                                    {{/inwishlist}}
                                {{/inwaitlist}}
                            {{/incart}}
                        {{/cancheckout}}
                        <a href="{{producturl}}"><button class="btn btn-secondary btn-details">{{# str }} details, block_products_catalogue {{/ str }}</button></a>
                        {{^cancheckout}}
                            <!-- view button -->
                            <a href="{{producturl}}&require-login=1"><button class="btn btn-primary">{{# str }} buy_now, local_ecommerce {{/ str }}</button></a>
                        {{/cancheckout}}
                    {{/purchased}}
                    {{#purchased}}
                        {{#enable_reviews}}
                            {{#alreadyrated}}
                                {{#enable_review_changes}}
                                     <button class="btn btn-primary btn-rating" data-toggle="modal" data-target="#rating-modal" data-id = "{{id}}" data-current-rating = "{{userrating}}">{{# str }} change_rating, local_ecommerce {{/ str }}</button>
                                {{/enable_review_changes}}
                            {{/alreadyrated}}
                            {{^alreadyrated}}
                                <button class="btn btn-primary btn-rating" data-toggle="modal" data-target="#rating-modal" data-id = "{{id}}" data-current-rating = "{{userrating}}">{{# str }} rate_this_item, local_ecommerce {{/ str }}</button>
                            {{/alreadyrated}}
                            <div class = "hidden hidden-review" style = "display:none;" data-id = "{{id}}">{{review}}</div>
                        {{/enable_reviews}}
                        <a href="{{producturl}}"><button class="btn btn-primary btn-details">{{# str }} details, block_products_catalogue {{/ str }}</button></a>
                    {{/purchased}}
                </div>
            </div>
        {{/products}}

        {{#showloadmore}}
            <div id = "load-more-products" class="load-more-products-box clearfix">
                <button class="btn btn-success" id="load-more-products-btn" data-type="{{type}}" data-page="{{nextpage}}" data-limit="{{limit}}">{{# str }} loadmore, block_products_catalogue {{/ str }}</button>
            </div>
        {{/showloadmore}}
    {{/isproducts}}
    {{^isproducts}}
        <div class="alert alert-block alert-info">{{# str }} noproducts, block_products_catalogue {{/ str }}</div>
    {{/isproducts}}
{{#firstpage}}
</div>
<div class="modal fade" id="rating-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title">
                    <strong><i class="fa fa-question-circle"></i>&nbsp;&nbsp;{{# str }} rate_this_item, local_ecommerce {{/ str }}</strong>
                </h3>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="panel panel-body">
                    <div class="rating-area-wrapper">
                        <input type="checkbox" id="st5" value="5" class = "ratings-star" name = "rating[]" />
                        <label for="st5" class = "ratings-star-label"></label>
                        <input type="checkbox" id="st4" value="4" class = "ratings-star" name = "rating[]" />
                        <label for="st4" class = "ratings-star-label"></label>
                        <input type="checkbox" id="st3" value="3" class = "ratings-star" name = "rating[]" />
                        <label for="st3" class = "ratings-star-label"></label>
                        <input type="checkbox" id="st2" value="2" class = "ratings-star" name = "rating[]" />
                        <label for="st2" class = "ratings-star-label"></label>
                        <input type="checkbox" id="st1" value="1" class = "ratings-star" name = "rating[]" />
                        <label for="st1" class = "ratings-star-label"></label>
                    </div>
                    <div class = "text-left">
                        <label for="review">{{# str }} review_word_limit, local_ecommerce {{/ str }}</label>
                        <textarea id = "review" name = "review" maxlength = "1000" class = "form-control"></textarea>
                    </div>
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="submit" id="submit-rating" class="btn btn-primary" data-id = "{{id}}">{{# str }} submit_rating, local_ecommerce {{/ str }}</button>
                <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">{{# str }} cancel {{/ str }}</button>
            </div>
        </div>
    </div>
</div>
{{/firstpage}}