{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_products_catalogue/products_list

    This template renders the available categories content area for the dashboard block.

    Example context (json):
    {}
}}
<div class="ecommerce-checkout-button-footer">
    {{#items_in_cart}}
        <a  class = "btn btn-primary btn-checkout" href="{{checkout_url}}"><i class="ecommerce-icon-store-active"></i> {{# str }} checkout, local_ecommerce {{/ str }}</a>
    {{/items_in_cart}}
</div>
<div class="ecommerce-checkout-footer">
    {{#socials}}
        <div class = "ecommerce-footer-item footer-socials">
            {{#f_book}}
                <a class = "ecommerce-footer-facebook ecommerce-contact-form-facebook" href = "{{f_book}}" target = "_blank"><i class = "fa fa-facebook-f"></i></a>
            {{/f_book}}
            {{#twit}}
                <a class = "ecommerce-footer-twitter ecommerce-contact-form-twitter" href = "{{twit}}" target = "_blank"><i class = "fa fa-twitter"></i></a>
            {{/twit}}
            {{#linked_in}}
                <a class = "ecommerce-footer-linkedin ecommerce-contact-form-linkedin" href = "{{linked_in}}" target = "_blank"><i class = "fa fa-linkedin"></i></a>
            {{/linked_in}}
        </div>
    {{/socials}}
    {{#contact_page}}
        <a href="{{contact_url}}" class = "ecommerce-footer-item">{{# str }} contact_us, local_ecommerce {{/ str }}</a>
    {{/contact_page}}
    {{#shipping_page}}
        <a href="{{shipping_url}}" class = "ecommerce-footer-item">{{# str }} shipping_policy, local_ecommerce {{/ str }}</a>
    {{/shipping_page}}
    {{#privacy_page}}
        <a href="{{privacy_url}}" class = "ecommerce-footer-item">{{# str }} privacy_policy, local_ecommerce {{/ str }}</a>
    {{/privacy_page}}
</div>