{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_products_catalogue/products_list

    This template renders the available categories content area for the dashboard block.

    Example context (json):
    {}
}}
{{#isloggedin}}
    <div class="ecommerce-mobile-menu-toggle" id = "store-menu-toggle">
        {{# str }} expand_tab_menu, local_ecommerce {{/ str }}&nbsp;<i class = "ecommerce-icon-arrow"></i>
    </div>
{{/isloggedin}}
<div class="ecommerce-menu-bar">
    <a href="{{storeurl}}" class = "ecommerce-menu-bar-item {{#storeactive}}active{{/storeactive}}">{{# str }} store, local_ecommerce {{/ str }}</a>
    {{#isloggedin}}
        <a href="{{purchasesurl}}" class = "ecommerce-menu-bar-item {{#purchasesactive}}active{{/purchasesactive}}">{{# str }} view_purchases, local_ecommerce {{/ str }}</a>
    {{/isloggedin}}
    {{#enablecontactpage}}
        <a href="{{contacturl}}" class = "ecommerce-menu-bar-item {{#contactactive}}active{{/contactactive}}">{{# str }} contact_us, local_ecommerce {{/ str }}</a>
    {{/enablecontactpage}}
</div>