<div class = "payment-form-part-two">
    <div class="payment-form stripe-form">
        <p><img src="{{logo}}" /></p>
        <p><img src="{{cards_img}}" class = "cards-img" /></p>
        <div class = "text-left">
            <p>{{{payment_rubric}}}</p>
            <p>{{#str}}click_process_payment, local_ecommerce{{/str}}</p>
        </div>
    </div>
</div>
<div class = "payment-form-part-three">

    <div class="shopping-checkout-box">
        {{> local_ecommerce/payment-summary }}

        <form action="{{ipnurl}}" method="post" class = "payment-form-form">
            <input type="hidden" name="cmd" value="_xclick" />
            <input type="hidden" name="charset" value="utf-8" />
            <input type="hidden" name="item_name" value="{{item_name}}" />
            <input type="hidden" name="item_number" value="{{c}}" />
            <input type="hidden" name="quantity" value="1" />
            <input type="hidden" name="on0" value="{{#str}}user, local_ecommerce{{/str}}" />
            <input type="hidden" name="os0" value="{{user_name}}" />
            <input type="hidden" name="custom" value="{{checkout_id}}-{{user_id}}-{{instance.id}}" />
            <input type="hidden" name="currency_code" value="{{currency_code}}" />
            <input type="hidden" name="amount" value="{{cost}}" />
            <input type="hidden" name="for_auction" value="false" />
            <input type="hidden" name="no_note" value="1" />
            <input type="hidden" name="no_shipping" value="1" />
            <input type="hidden" name="rm" value="2" />
            <input type="hidden" name="cbt" value="{{#str}}continuetocourse{{/str}}" />
            <input type="hidden" name="first_name" value="{{first_name}}" />
            <input type="hidden" name="last_name" value="{{last_name}}" />
            <input type="hidden" name="address" value="{{address}}" />
            <input type="hidden" name="city" value="{{city}}" />
            <input type="hidden" name="email" value="{{email}}" />
            <input type="hidden" name="country" value="{{country}}" />

            <script
                    src="{{checkouturl}}" class="stripe-button"
                    data-key="{{config.publishablekey}}"
                    data-label="{{#str}}processpayment, local_ecommerce{{/str}}"
                    data-image=""
                    data-name="{{item_name}}"
                    data-email="{{email}}"
                    data-description="{{#str}}cost, local_ecommerce{{/str}}: {{currency_code}} {{cost}}"
                    data-metadata="6"
                    data-currency="{{currency_code}}"
                    data-amount="{{stripecost}}"
                    data-zip-code="{{#config.validatezipcode}}true{{/config.validatezipcode}}{{^config.validatezipcode}}false{{/config.validatezipcode}}"
                    data-billing-address="{{#config.billingaddress}}true{{/config.billingaddress}}{{^config.billingaddress}}false{{/config.billingaddress}}"
            >
            </script>
        </form>
    </div>
</div>