<div class = "payment-form-part-two">
    <div class="payment-form twocheckout-form">
        <p><img src="{{logo}}" /></p>
        <p><img src="{{cards_img}}" class = "cards-img" /></p>
        <div class = "text-left">
            <p>{{{payment_rubric}}}</p>
            <p>{{#str}}click_process_payment, local_ecommerce{{/str}}</p>
        </div>
    </div>
</div>
<div class = "payment-form-part-three">

    <div class="shopping-checkout-box">
        {{> local_ecommerce/payment-summary }}

        <form action="{{checkouturl}}" method="post">
            <input type="hidden" name="sid" value="{{config.seller_id}}" />
            <input type="hidden" name="mode" value="2CO" />
            <input type="hidden" name="li_0_name" value="{{item_name}}" />
            <input type="hidden" name="li_0_product_id" value="{{c}}" />
            <input type="hidden" name="li_0_quantity" value="1" />
            <input type="hidden" name="li_0_price" value="{{cost}}" />
            <input type="hidden" name="on0" value="{{#str}}user, local_ecommerce{{/str}}" />
            <input type="hidden" name="os0" value="{{user_name}}" />
            <input type="hidden" name="custom" value="{{checkout_id}}-{{user_id}}-{{instance.id}}" />
            <input type="hidden" name="currency_code" value="{{currency_code}}" />
            <input type="hidden" name="amount" value="{{cost}}" />
            <input type="hidden" name="x_receipt_link_url" value="{{ipnurl}}" />
            <input type="hidden" name="first_name" value="{{first_name}}" />
            <input type="hidden" name="last_name" value="{{last_name}}" />
            <input type="hidden" name="street_address" value="{{address}}" />
            <input type="hidden" name="city" value="{{city}}" />
            <input type="hidden" name="email" value="{{email}}" />
            <input type="hidden" name="country" value="{{country}}" />

            <div class = "text-right">
                <input type="submit" class="btn btn-primary" value="{{#str}}processpayment, local_ecommerce{{/str}}" />
            </div>
        </form>
        <script src="https://www.2checkout.com/static/checkout/javascript/direct.min.js"></script>
    </div>
</div>