{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_ecommerce/product_content_item

    This template will render the product content item for the
    navigation bar announcement menu.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * contexturl A link to the announcement resource
    * read If the announcement is read or not
    * title The title text
    * id Announcement id
    * iconurl The URL for the announcement icon
    * shortenedsubject A shortened version of subject text
    * startdatepretty Pretty formatted time stamp
    * viewmoreurl The link to the full announcement

    Example context (json):
    {
        "contexturl": "http://www.moodle.com",
        "read": true,
        "title": "You have an announcement",
        "id": 1,
        "iconurl": "http://www.moodle.com",
        "shortenedtitle": "You have a...",
        "startdatepretty": "5 minutes ago",
        "viewmoreurl": "http://www.moodle.com"
    }

}}
<div class="content-item-container product" data-region="wishlist-content-item-container" data-id="{{id}}" role="listitem">

    <div tabindex="0" aria-label="{{name}}">
        <img class = "cart-image" src = "{{imageurl}}" />
        <div class="content-item-name">
            <div>
                <div class = "cart-item-name"><a href="{{viewurl}}">{{name}}</a></div>
                {{#discountprice}}
                    <div class = "cart-price-right">
                        <span class="product-final-price">{{{currency}}}{{discountprice}}</span>
                        <a href="#" class="delete-item" data-item="{{id}}" data-action="delete-wishlist-item" title="{{#str}} delete {{/str}}">x</a>
                    </div>
                </div>
                    <div class = "cart-price-right-discount">
                        <span class="product-pre-discount-price with-discount">{{{currency}}}{{price}}</span>
                    </div>
                {{/discountprice}}
                {{^discountprice}}
                    <div class = "cart-price-right">
                        <span class="product-final-price">{{{currency}}}{{price}}</span>
                        <a href="#" class="delete-item" data-item="{{id}}" data-action="delete-wishlist-item" title="{{#str}} delete {{/str}}">x</a>
                    </div>
                </div>
                {{/discountprice}}
            <div class = "cart-code">
                <label class = "cart-code-label">{{#str}} code, local_ecommerce {{/str}}:</label>
                <span class="cart-id-number">{{idnumber}}</span>
            </div>
            {{#seatsallow}}
                <button class="btn btn-primary wishlist-cart-button" onclick="add_to_cart({{id}}, this);" data-product-id="{{id}}">{{# str }} addtocart, block_products_catalogue {{/ str }}</button>
            {{/seatsallow}}
            {{^seatsallow}}
                {{#enablewaitlist}}
                    <button class="btn btn-primary wishlist-cart-button" onclick="add_to_waitlist({{id}}, this);" data-product-id="{{id}}">{{# str }} addtowaitlist, block_products_catalogue {{/ str }}</button>
                {{/enablewaitlist}}
            {{/seatsallow}}
        </div>
    </div>
</div>
